.description-text {
  max-width: 440px;
  letter-spacing: 2px;
  font-size: 24px;
  color: #cfd0d1;
  margin-top: 20px;
  line-height: 32px;
}

.animate-title-box {
  margin-bottom: 60px;
}

.title-slogan {
  font-size: 58px;
  color: #fff;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  height: 70px;

  span {
    transition: all .5s;
    position: absolute;
    left: 192px;
    transform: translateY(0px);

  }
}

.opacity {
  transform: translateY(-70px) !important;
}

.ideaLog {
  color: #e8e8e8;
}
