@font-face {
    font-family: "Roboto-Bold";
    src: url(Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: "Roboto-Medium";
    src: url(Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: "Roboto-Regular";
    src: url(Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto-Light"; 
    src: url(Roboto/Roboto-Light.ttf);
}
