.home-container.reletive {
  position: relative;
}

.contacts-description {
  margin-top: 120px;

  .title-description {
    font-size: 24px;
    color: #cfd0d1;
    line-height: 32px;
  }

  .contact-info {
    max-width: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;

    .title-info {
      font-size: 18px;
      text-transform: uppercase;
      color: #cfd0d1;
      line-height: 32px;
    }

    .description-info {
      font-size: 22px;
      font-weight: bold;
      color: #fff;
      line-height: 32px;
      margin-top: 10px;
    }
  }
}
