.flex-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-wrapper {
	width: 100%;
	@extend .flex-box;
	align-items: flex-start;
	margin-top: 4px;
}

.title-wrapper {
	max-width: 540px;
	width: 100%;
}

.title-text {
  font-size: 24px;
  color: #fff;
  font-weight: bold;

  span {
    color: #216dd2;
  }
}

.links {
	max-width: 280px;
	width: 100%;
	@extend .flex-box;
  z-index: 110;

	a {
		font-size: 16px;
		color: #fff;
		font-weight: bold;
		text-decoration: none;
	}
}

.title-text .zeroClr {
  color: green;
}

.title-text .designClr {
  color: #216dd2;
}

.title-text .consultingClr {
  color: red;
}

.title-text .blockchainClr {
  color: #fc751c;
}

.title-text .aiClr {
  color: gray;
}

.title-text .webClr {
  color: orange;
}

.title-text .mobileClr {
  color: pink;
}

.title-text .iotClr {
  color: gold;
}

.blockchainHeader span {
  color: #FC751C;
}
