.preloaderBox {
  background: #121519;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    color: #fff;
    font-size: 56px;
  }
}

.destroyLoader {
  opacity: 0;
  transition: all 8s;
}
