.home-wrapper {
	background: #121519;
	display: flex;
	overflow: hidden;
	min-height: 100vh;
	padding: 30px;
	box-sizing: border-box;
}

.home-container {
	max-width: 1640px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	align-items: end;
	justify-content: space-between;
	flex-direction: column;
	z-index: 100
}

.wrapper-logo {
  max-width: 140px;
  width: 100%;
	margin-right: 35px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;

	.logo {
    width: 100%;
    margin-top: 4px;
	}
}

.linksContainer {
  width: 100%;

  .linksForPage {
    max-width: 680px;
  	width: 100%;
  	display: flex;
  	justify-content: space-between;
    margin-left: 112px;
  }
}

.animated-text {
  &--typed {
    position: relative;
    padding-right: 3px;

    &:after {
      content: ' ';
      height: 100%;
      width: 3px;
      background-color: #fff;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}


.box {
  opacity: 1;
  transition: .5s all
}

.box.box-exiting {
  opacity: 0;
}

.home-center-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.container-bottom {
  height: 50px;
}
