.wrapper-container-bg {
  background: #121519;
}

.wrapper-container-box {
  max-width: 1640px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 30px;
  box-sizing: border-box;
}

.blockchain-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
}

.blockchain-top-box {
  max-width: 500px;
  width: 100%;

  .title {
    font-size: 58px;
    font-weight: bold;
    color: #fff;
  }

  .title-hint {
    opacity: 0.8;
    color: #FC751C;
    font-size: 24px;
    line-height: 29px;
    margin: 8px 0;
  }

  .description {
    opacity: 0.8;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 22px;
  }
}

.blockchainTitle {
  font-weight: bold;
  text-align: center;
  font-size: 180px;
  letter-spacing: 8px;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -70px;
  position: absolute;
  opacity: 0.03;
  color: #FFFFFF;
}

.blockchain-bottom-box {
  margin-top: 150px;

  .title {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
  }

  .hint-description {
    max-width: 500px;
    width: 100%;
    opacity: 0.8;
    color: #FC751C;
    font-size: 24px;
    line-height: 29px;
    margin: 8px 0;
  }
}

.blockchain-description-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;

  .description-box {
    max-width: 600px;
    width: 100%;

    .item-description {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 60px;

      img {
        margin-right: 25px;
      }

      .title {
        font-size: 24px;
        font-weight: bold;
        color: #fff;
      }

      .description {
        font-size: 16px;
        line-height: 22px;
        opacity: 0.8;
        color: #FFFFFF;
        margin-top: 12px
      }
    }
  }
}
