.bannerBox {
	position: absolute;
	display: flex;
	align-items: center;
  justify-content: center;
  top: 150px;
  right: 20%;
	transform: scale(0);
	transition: transform 1s;

	img {
    height: 520px;
		opacity: 0;
		transition: opacity 4s;
	}
}

.bgrActive {
	transform: scale(1);

	img {
		opacity: 1;
	}
}

.bgrUnactive {
  transform: scale(0);
}

.mobile {
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.design {
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.zero {
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.consulting {
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.web {
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.iot {
  animation-name: example;
  animation-duration: 4s;
	animation-iteration-count: infinite;
}

.ai {
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.blockchain {
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0% {
 		transform: translateY(0px);
 	}
 	50%   {
 		transform: translateY(-25px);
 	}
 	100%{
 		transform: translateY(0px);
 	}
}
