.wrapper-container-bg {
  background: #121519;
}

.wrapper-container-box {
  max-width: 1640px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 30px;
  box-sizing: border-box;
}

.wrapper-title-description {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 100px;
}

.about-us-description {
  max-width: 528px;
  width: 100%;

  .title {
    color: #fff;
    font-size: 58px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .hint-title {
    opacity: 0.8;
    color: #FFFFFF;
    font-size: 24px;
    margin-bottom: 15px;
  }

  .description {
    line-height: 19px;
    opacity: 0.8;
    color: #FFFFFF;
    font-size: 16px;
  }
}

.logo-title {
  position: absolute;
  color: #16191D;
  font-weight: bold;
  text-align: center;
  font-size: 180px;
  letter-spacing: 8px;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -110px;
}
