.form-wrapper {
  height: 100vh;
  position: absolute;
  max-width: 460px;
  width: 100%;
  top: -30px;
  right: 70px;
  background: #216dd2;
  padding: 25px;
  box-sizing: border-box;

  .form-box {
    display: flex;
    flex-direction: column;
    margin-top: 250px;

    .title-form {
      font-size: 24px;
      color: #fff;
      font-weight: bold;
      margin-bottom: 15px;
    }
  }
}

.submit {
  background: #4585d9;
  padding: 20px 0;
  text-transform: uppercase;
  color: #d9e6f7;
  font-weight: bold;
  border: none;
  outline: none;
  margin-top: 30px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 6px;
  transition: all .5s;
}

.input {
  font-size: 16px;
  color: #d0dff5;
  background: none;
  border: none;
  margin-top: 35px;
  outline: none;
  border-bottom: 1px solid #fff;
  padding-bottom: 8px;
  transition: all .5s;

  &:focus {
    border-bottom: 1px solid #000;
  }
}

.input::placeholder {
  color: #d0dff5;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-top: 35px;

  .btn {
    width: 100%;
    border: 1px solid #fff;
    border-style: dashed;
    color: #fff;
    background: none;
    padding: 14px 20px;
    border-radius: 6px;
    font-size: 16px;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
  }
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  margin-top: 0;
  cursor: pointer;
}

.has-error {
  border-bottom: 1px solid red;
}

.not-allowed {
  cursor: not-allowed;
  background: rgba(69, 133, 217, .5);
}


.container {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 16px;
  color: #d0dff5;
  margin-top: 30px;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  border-radius: 2px;
  background: none;
  border: 1px solid #fff;
}

.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 4px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.formErrors p {
  font-size: 14px;
  color: #d0dff5;
  margin-top: 10px;
  text-transform: capitalize;
}
