.slogan-footer {
  position: absolute;
  bottom: 150px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: -2;

  .slogan-text {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    font-size: 178px;
    font-weight: bold;
    color: #1E2024;
  }
}

.message {
  width: 60px;
  height: 60px;
  background: #0a4ba1;
  border-radius: 50%;
  bottom: 26px;
  right: -2%;
  position: absolute;
  transition: all 1s;
  display: flex;
  align-items: center;

  img {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
}

.clrYellow {
  background: #fc751c;
}

.clrBlue {
  background: #216dd2;
}

.clrGreen {
  background: green;
}

.clrRed {
  background: red;
}

.clrGray {
  background: gray;
}

.clrOrange {
  background: orange;
}

.clrPink {
  background: pink;
}

.clrGold {
  background: gold;
}
