.title-box {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 12px;
  margin-top: 85px;
}

.sub-title {
  opacity: 0.8;
  color: #FFFFFF;
  font-size: 24px;
}

.content-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 35px;
}

.box-item {
  max-width: 632px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 50px;

  img {
    margin-right: 24px
  }

  .title {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 12px;
  }

  .description {
    opacity: 0.8;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 19px;
  }
}
