.link-box {
	display: flex;
	padding: 20px 0;

	p {
		font-size: 24px;
		color: #fff;
		font-weight: bold;
    text-transform: uppercase;
		transition: all .5s;
    letter-spacing: 3px;
	}
}

.active-link-hover {
	.arrow-link {
		width: 40px;
	}

	p {
		color: #0ABAB5;
	}
}

.link-box.hover-link:hover p {
  color: #fff;
  transition: all .5s;
}

.hover-link p {
  color: #000;
  transition: all .5s;
}
