.social-links {
	max-width: 45px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
  flex-direction: column;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: 100px;
    background-color: #1E2024;
    box-sizing: border-box;
    margin-bottom: 20px;
  }

	img {
		height: 24px;
	}
}
