.title-link-pg {
	color: #fff;
  opacity: .8;
	font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 25px;
  letter-spacing: 3px;
}

.links-box {
	max-width: 400px;
	width: 100%;
}

.backgroundColors {
  max-width: 340px;
  width: 100%;
  position: absolute;
  height: 100vh;
  transition: all 1s;
  width: 100%;
  width: 100%;
  z-index: -1;
  top: 0;
}

.clrYellow {
  background: #fc751c;
}

.clrBlue {
  background: #216dd2;
}

.clrGreen {
  background: green;
}

.clrRed {
  background: red;
}

.clrGray {
  background: gray;
}

.clrOrange {
  background: orange;
}

.clrPink {
  background: pink;
}

.clrGold {
  background: gold;
}
